*{
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
  height: 100vh;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.loading{
  filter: blur(2px);
}

.loading-text{
  z-index: 4;
}

button{
  cursor: pointer;
}

.heading-text{
  margin-block-end: 0.4rem;
}

.input-container{
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
  position: relative;
}

.inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.4rem;
}

.input-container input, .input-container button{
  height: 2rem;
}

.input-container input{
  background-color: #fff;
  border: none;
  width: 15rem;
  text-indent: 0.4rem;
  border-radius: 3px;
}
.input-container input:focus-visible, .input-container button:focus-visible, .result-container input:focus-visible{
  outline: 2px solid #888;
}
.input-container input::placeholder{
  font-size: small;
}

.input-container button{
  background-color: #333;
  border: none;
  color: #fff;
  padding-inline: 0.4rem;
  border-radius: 3px;
  font-family: 'Courier New', Courier, monospace;
}

/* Error message */
.error input:focus-visible{
  outline: 2px solid rgb(205, 58, 58);
}

.long-url_input small, .custom-url_input small{
  padding: 0 0.2rem 0.4rem;
  font-size: 0.64rem;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

/* Result container */
.result-container{
  position: relative;
  opacity: 1;
  border: 1px solid;
  font-size: small;
  padding: 0.2rem 0.4rem 0.22rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
  border-radius: 2px;
}

.result-container input, .result-container button{
  background-color: inherit;
  border: none;
}

.result-container input{
  width: 12rem;
}

.result-container input::placeholder, .result-container input{
  font-size: 12px;
}

.result-container_buttons{
  display: flex;
}
.result-container button{
  opacity: 0;
  border: 1px solid;
  padding-inline: 0.2rem;
  margin-inline: 0.2rem;
  border-radius: 2px;
}
.result-container:hover button{
  opacity: 1;
}


.copied, .loading-text{
  position: absolute;
  right: 50%;
  top: 70%;
  transform: translate(50%, 50%);
  opacity: 1;
  transition: ease-in-out 0.5s;

  padding-block-start: 1rem;
}

.loading-text{
  position: absolute;
  font-weight: 600;
  font-size: 1.2rem;
  right: 50%;
  top: 45%;
  transform: translate(50%, 50%);
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.hidden{
  opacity: 0;
}

@media screen and (max-width: 37.5em){
  .input-container, .inputs{
    flex-direction: column;
  }
  .inputs{
    row-gap: 0.2rem;
  }

  .loading-text{
    top: 40%;
  }
}